<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
    </head>
    <body>
        <h1>Account</h1>
        <form method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {{ form.hidden_tag() }}
            <label for="email">Email:</label><br>
            {{form.email(id='email')}}<br>
            <label for="password">New Password:</label><br>
            {{form.password(id='password')}}<br>
            <label for="confirm_password">Confirm New Password:</label><br>
            {{form.confirm_password(id='confirm_password')}}<br>
            {{form.submit()}}
            {% if user_type == "employee" %}
                {{form.delete()}}
            {% endif %}
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            {% if user_type == "employee" %}
                <a href="{{ url_for('my_issues') }}">Issues</a>
            {% elif user_type == "support" %}
                <a href="{{ url_for('all_issues') }}">Issues</a>
            {% endif %}
        </form>
    </body>
</html>
