<!DOCTYPE html>
<html>
    <head>
        <title>Report Issue</title>
    </head>
    <body>
        <h1>Report a New Issue</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="category">Category:</label><br>
            {{ form.category(id='category') }}<br>
            <label for="description">Issue Description:</label><br>
            {{ form.description(id='description') }}<br>
            {{ form.submit() }}
        </form>
    </body>
</html>