<!DOCTYPE html>
<html>
    <head>
        <title>Update Issue</title>
    </head>
    <body>
        <h1>Update Issue</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% if user_type == "employee" %}
                <label for="category">Category:</label><br>
                {{ form.category(id='category') }}<br>
                <label for="description">Description:</label><br>
                {{ form.description(id='description') }}<br>
            {% elif user_type == "support" %}
                <label for="status">Status:</label><br>
                {{ form.status(id='status') }}<br>
            {% endif %}
            {{ form.submit() }}
        </form>
    </body>
</html>
